@media screen and (max-width:450px) {
    .column {
      width: 100;
    }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.column {
  float: left;
  width: 350px;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navigationbar {
  overflow: hidden;
  background-color: #17202A;
}

.navigationbar a {
  float: left;
  display: block;
  color: #2196F3;
  text-align: center;
  padding: 13px 15px;
}

.projects {
  padding: 15px;
}
